[Unit]
Description=Holographic Display Web Control Interface
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/TO52_helice_holographique/main/main.py

[Install]
WantedBy=multi-user.target