[Unit]
Description=Holographic Display Web Control Interface
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/holo/Desktop/HeliceRepo/heliceHolo_3il-main/main/main.py

[Install]
WantedBy=multi-user.target
